extends layout

- var user = #{user}
- var classes = #{classes}
- var role = #{role}

block extrahead
  link(rel='stylesheet', href='/stylesheets/dash.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

- var role = #{user.local.role}
block content
  script(type='text/javascript').
    window.c = #{classes[0].videos};

  .enroll-bg
    .enroll-module
      form(action='/profile/enroll', method='post')
        h1 Class Code
        input.enroll(type='text', name='code', value="Ex. abc")
        .entry.submit
          button#submit-btn(type='submit') Enroll

  .class-dashboard
    if (role == "professor")
      a(href='/profile/classes/new')
        .class-dashboard-new.other
          p#new-text +
    else if (false)
      .class-dashboard-new.other
        p#new-text +

    each c in classes
      .class-dashboard-card
          h1.card-title=c.title
          .class-card-info
            .class-sub-card
              h3=c.numprofessors
              p professor(s)
            .class-sub-card
              h3=c.students
              p students
            .class-sub-card
              h3 2017
              p Spring

  .dashboard
    - var check = classes[0]
    if (check)
      .video-container
        .videolist
          .video-header
            i.fa.fa-window-maximize.icon
            h1 #{classes[0].title}
            p.desc #{classes[0].description}
            .instructors
              .instructor
                - var prof = classes[0].professors
                  each t in prof
                    p=t.name
          .video-sublist
            if role == "professor"
              a(href="/profile/classes/video/new")
                .new-video
                  .video-item-new.new-video-item 
                    p +
                    
            - var lectures = classes[0].videos
            each l in lectures
              .video-item
                h2.title=l.title
                a#url(href=l.link) 
                  i.fa.fa-link
                p.length=l.length + " min"
                p Jan 13 2017
                .bookmark
                  i.fa.fa-bookmark-o#book
      .right-container
        .card-container#video-container
        .video-timeline

  script(type='text/javascript', src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
  script(src='javascripts/dashboard.js')
